<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/category">return home page</a>
<h1>Create a new Category</h1>
<p th:text="${message}"></p>
<form method="post" th:action="@{/category-create}" th:object="${categories}">
    <table>
        <tr>
            <td>Category name</td>
            <td><input type="text" th:field="*{category_name}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{category_description}"/></td>
        </tr>
        <tr>
            <td><button type="submit">Create</button></td>
        </tr>
    </table>
</form>
</body>
</html>