<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/category">Return home Page</a>
<p th:text="${message}"></p>
<form method="post" th:action="@{/category-edit}" th:object="${categories}" >
    <input type="hidden" th:field="*{category_Id}"/>
    <table>
        <tr>
            <td>Category name</td>
            <td><input type="text" th:field="*{category_name}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{category_description}"/></td>
        </tr>
        <tr>
            <td><button type="submit">Edit</button></td>
        </tr>
    </table>

</form>
</body>
</html>